.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
}

.navbar_container {
  position: relative;
  width: 450px;
  height: 100px;
  border-radius: 20px;
  background-color: #fff;
}

.navbar_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.navbar_list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.item_icon {
  font-size: 40px;
  transition: transform 250ms ease-in;
}

.navbar_list_item.active .item_icon {
  transform: translateY(-50px);
}

.item_title {
  position: absolute;
  top: 50%;
  left: 25;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transform: translateY(20px);
  transition: all 250ms ease-in;
}

.navbar_list_item.active .item_title {
  opacity: 1;
  transform: translateY(0px);
}

.selected {
  position: absolute;
  top: -30%;
  left: 12px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 6px solid black;
  background-color: greenyellow;
  transition: 300ms;
}

.navbar_list_item:nth-child(1).active ~ .selected {
  transform: translateX(calc(90px * 0));
}

.navbar_list_item:nth-child(2).active ~ .selected {
  transform: translateX(calc(90px * 1));
}

.navbar_list_item:nth-child(3).active ~ .selected {
  transform: translateX(calc(90px * 2));
}

.navbar_list_item:nth-child(4).active ~ .selected {
  transform: translateX(calc(90px * 3));
}

.navbar_list_item:nth-child(5).active ~ .selected {
  transform: translateX(calc(90px * 4));
}
