.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(255, 201, 140, 1) 63%);
  /* background: rgb(148, 187, 233);
  background: linear-gradient(90deg, rgba(148, 187, 233, 1) 0%, rgba(238, 174, 202, 0.9332107843137255) 65%); */
}

.menu_title {
  position: fixed;
  top: 5%;
  left: 5%;
  color: #fff;
  font-size: 3.5rem;
}

.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 50%;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  transition: 1s;
}

.toggle:hover {
  opacity: 0.8;
}

.menu.active .toggle {
  transform: rotate(315deg);
}

.list {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  list-style: none;
}

.list-item {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transition: 0.5s;
  transform-origin: 20vw;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translate(-50%, -50%);
}

.menu.active .list-item {
  top: 35%;
  left: 10%;
  pointer-events: unset;
  transform: rotate(calc(360deg / 7 * var(--i)));
}

.menu.active .list-item a {
  width: 5em;
  height: 5em;
  color: #bca5af;
}

.menu.active .list-item a:hover {
  background: #bca5af;
  color: #4d3a4d;
  opacity: 0.6;
  transform: rotate(calc(360deg / -7 * var(--i))) scale(1.2);
}

.item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  transition: 1.5s;
}

.menu.active .item-link {
  opacity: 1;
  transform: rotate(calc(360deg / -7 * var(--i)));
}
